{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="{% static "js/main.js" %}"></script>

<div id="wrap">

    <div id="header"><h1><img src="headerlogo.png" width="285" height="56" alt="Logo" /></h1>
    </div>


    <div id="nav">
        <h3>FAQ</h3>
    </div>


    <div id="main">
        <h1>Shows</h1>
        <div class="ui-widget">
            <form id="add_show" action="{% url show.views.add_show %}" method="POST"
                enctype="multipart/form-data">{% csrf_token %}
                <label for="show">Show: </label>
                <input id="show" name="show" />
                <input type="submit" value="Add Show"/>
            </form>
        </div>


        <ul id="show_list">
            {% for show in userprofile.shows.all %}

            <li>
            <a href="/show/{{ show.id }}"></h2>{{ show.name }}</h2></a>
            <a href="{% url show.views.remove_show %}">
               <img src="remove.png" width="40" height="30" alt="Remove Show" />
            </a>

            </li>

            {% endfor %}
        </ul>




        <div id="show">
            <h2>Test show1</h2>
            <p>here's all the data about this show...</p>
            <p>&nbsp; </p>
            <img src="remove.png" width="40" height="30" alt="Remove Show" />
        </div>
        <div id="show">
            <h2>Test show2</h2>
            <p>here's all the data about this show...</p>
            <p>&nbsp; </p>
            <img src="remove.png" width="40" height="30" alt="Remove Show" />
        </div>
        <div id="show">
            <h2>Test show1</h2>
            <p>here's all the data about this show...</p>
            <p>&nbsp; </p>
            <img src="remove.png" width="40" height="30" alt="Remove Show" />
        </div>
        <div id="show">
            <h2>Test show2</h2>
            <p>here's all the data about this show...</p>
            <p>&nbsp; </p>
            <img src="remove.png" width="40" height="30" alt="Remove Show" />
        </div>


    </div>


    <div id="sidebar">
        <h1>Subscriptions</h1>
        <form id="form1" name="form1" method="post" action="">
            <label for="Test"></label>
            <input type="text" name="Test" id="Test" />
        </form>
        <img src="addShow.png" width="100" height="40" alt="Add subscription" />
        <p>&nbsp;</p>
        <div id="subscription">
            <img src="amazon.png" alt="Amazon" />
        </div>
        <p>&nbsp; </p>
        <div id="subscription">
            <img src="hulu.png" alt="Hulu" />
        </div>
        <p>&nbsp; </p>
        <div id="subscription">
            <img src="netflix.png" alt="Netflix" />
        </div>
        <p>&nbsp; </p>
        <div id="cost">
            <img src="cost.png" alt="Cost" />
        </div>
    </div>

    <div id="footer">
        <img src="logo_tv.png" alt="Logo" />

        <p>&nbsp;</p>
    </div>

</div>


{% endblock %}
